.navItemContainer {
  background-color: #ffffff;
  padding: calc(0.8rem * 0.2) calc(0.8rem * 1);
  border: 1px solid var(--text);
  border-radius: 99999px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(0.8rem * 0.5);
  transition: all 0.4s linear;
}
.navItemContainer:hover,
.navItemContainer:focus {
  background-color: var(--text);
  color: var(--bg);
  transition: all 0.1s linear;
}
.navItemJa {
  text-wrap: nowrap;
}
.navItemEn {
  text-wrap: nowrap;
  text-transform: uppercase;
  font-weight: lighter;
}
