:root {
  --text: #000000;
  --textSoft: #1e1e1e;
  --bg: #ffffff;
  --bgSoft: #eeeeee;
  --main: #669ed1;
  --sub: #edb560;

  --s: calc((1rem * 1.6) * 1);
  --m: calc((1rem * 1.6) * 2);
  --l: calc((1rem * 1.6) * 4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

.container {
}

.wrapper {
  min-height: 100vh;
  padding-top: calc(
    (0.8rem * 1.6 + 0.8rem * 1.6 * 0.2 * 2) * 2 + (0.8rem * 0.5) + (0.8rem * 1) *
      2
  );
  display: flex;
  flex-direction: column;
}

.mainAndPageTop {
  flex-grow: 1;
}

.main {
  width: 100%; 
  overflow-x: hidden;
  font-size: 1rem;
  height: 9999px;
}
